<?xml version="1.0"?>
<launch>
<!--Set group names-->
<arg name="manipulator_group_name" value="arm"/>
<arg name="drone_group_name" default="drone"/>

<!--Set the gazebo world-->

 <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find panda_gazebo)/worlds/panda.world"/>
    <arg name="gui" value="true" />
    <arg name="paused" value="False"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless" value="false"/>
  </include>


<!--Visualize manipulator robot-->
<!--<group ns="panda">
  <include file="$(find panda_gazebo)/launch/panda_spawn.launch">
   <arg name="y" value="-1"/>
  </include>
  <include file="$(find panda_control)/launch/panda_effortcontrol.launch" />
  <node name="panda_trac_ik_taskspace" pkg="hiro_panda_ik" type="panda_trac_ik_taskspace" output="screen" />
</group>-->

<!--Visualize drone-->
<!--<group ns="drone">-->
  <include file="$(find hector_quadrotor_gazebo)/launch/spawn_quadrotor.launch"/>
   
<!--</group>-->

</launch>
