<?xml version="1.0"?>
<launch>

  <!-- spawn panda robot in gazebo world -->
  <include file="$(find panda_gazebo)/launch/panda_world.launch" />

  <!-- ros_control panda effort launch file -->
  <include file="$(find panda_control)/launch/panda_effortcontrol.launch" />

  <!-- run effort control executable file-->
  <node name="panda_trac_ik_taskspace" pkg="hiro_panda_ik" type="panda_trac_ik_taskspace" output="screen" />

  <!-- run effort control executable file-->
  <node name="ee_command" pkg="ee_command" type="endeffector_command_publisher" output="screen" />

</launch>
