<?xml version="1.0"?>
<launch>
  <arg name="name" default="panda"/>
  <arg name="model" default="$(find panda_description)/urdf/panda_arm_hand.urdf.xacro"/>
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.0"/>
  <!-- Load the URDF into the ROS Parameter Server -->
 <param name="robot_description"
    command="$(find xacro)/xacro '$(find panda_description)/urdf/panda_arm_hand.urdf.xacro'" />

  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model" 
        respawn="false" output="screen"
        args="-param robot_description
              -urdf
              -model $(arg name)
              -x $(arg x)
              -y $(arg y)
              -z $(arg z)" />

</launch>
